.App {
  text-align: center;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}
.check-icon {
  width: 20px;
  margin-right: 4px;
}

.pulse {
  border-radius: 50%;
  margin-right: 5px;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(15, 131, 205, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(15, 131, 205, 0);
  }
}