body {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.components {
  --font-smoothing: auto;
  --font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-size-monospace-small: 9px;
  --font-size-monospace-normal: 11px;
  --font-size-monospace-large: 15px;
  --font-size-sans-large: 14px;
  --line-height-data: 18px;
  --color-filter-header: #ee1fac;
  &.dark {
    --color-background: #282c34;
    --color-text: #ffffff;
    --color-border: #3d424a;
    --color-button: #afb3b9;
    --color-button-background: #282c34;
    --color-button-hover: #ededed;
    --color-expand-collapse-toggle: #8f949d;
    --color-attribute-editable-value: yellow;
    --color-button-background-focus: #3d424a;
    --color-dimmer: #777d88;
    --color-search-match-current: #f7923b;
    --color-attribute-name: #9d87d2;
    --color-attribute-value: #cedae0;
    --color-background-hover: rgba(255, 255, 255, 0.1);
    --color-background-selected: #178fb9;
    --color-text-selected: #ffffff;
    --color-component-name: #61dafb;
    --color-component-name-inverted: #282828;
    --color-component-badge-count-inverted: rgba(255, 255, 255, 0.7);
    --color-attribute-name-inverted: #282828;
    --color-attribute-value-inverted: #ffffff;
    --color-component-badge-background: rgba(255, 255, 255, 0.25);
    --color-component-badge-background-inverted: rgba(0, 0, 0, 0.25);
    --color-button-active: #61dafb;
    --color-filter-key: #EAB2A0;
  }

  &.light {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-border: #eeeeee;
    --color-button: #5f6673;
    --color-button-background: #ffffff;
    --color-button-hover: #23272f;
    --color-expand-collapse-toggle: #777d88;
    --color-attribute-editable-value: #1a1aa6;
    --color-button-background-focus: #ededed;
    --color-dimmer: #cfd1d5;
    --color-search-match-current: #f7923b;
    --color-attribute-name: #ef6632;
    --color-attribute-value: #1a1aa6;
    --color-background-hover: rgba(0, 136, 250, 0.1);
    --color-background-selected: #0088fa;
    --color-text-selected: #ffffff;
    --color-component-name: #6a51b2;
    --color-component-name-inverted: #ffffff;
    --color-component-badge-count-inverted: rgba(255, 255, 255, 0.7);
    --color-attribute-name-inverted: rgba(255, 255, 255, 0.7);
    --color-attribute-value-inverted: #ffffff;
    --color-component-badge-background: rgba(0, 0, 0, 0.1);
    --color-component-badge-background-inverted: rgba(255, 255, 255, 0.25);
    --color-button-active: #0088fa;
    --color-filter-key: #2E8A99;
  }

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: var(--font-smoothing);

  .w-full {
    width: 100%;
  }

  .current-highlight {
    background-color: var(--color-search-match-current);
  }

  .search-input-item {
    flex: 1 1;
    display: flex;
    align-items: center;
    .input-icon {
      pointer-events: none;
      z-index: 2;
      color: var(--color-dimmer);
      width: 1rem;
      height: 1rem;
      fill: currentColor;
    }
    .input {
      flex: 1;
      font-size: var(--font-size-sans-large);
      outline: none;
      border: none;
      background-color: var(--color-background);
      color: var(--color-text);
      padding-left: 1.5rem;
      margin-left: -1rem;
    }
  }

  .key-name {
    color: var(--color-attribute-name);
  }

  .button {
    border: none;
    background: var(--color-button-background);
    color: var(--color-button);
    padding: 0;
    border-radius: 0.25rem;
    flex: 0 0 auto;
    cursor: pointer;

    &-content {
      display: inline-flex;
      align-items: center;
      border-radius: 0.25rem;
      padding: 0.25rem;
    }

    &:hover {
      color: var(--color-button-hover);
    }
  }

  .button-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    cursor: pointer;
  }

  .v-rule {
    height: 20px;
    width: 1px;
    flex: 0 0 1px;
    margin: 0 0.5rem;
    background-color: var(--color-border);
  }

  .expand-collapse-toggle {
    display: flex;
    color: var(--color-expand-collapse-toggle);
    &.hidden {
      opacity: 0;
    }
  }

  .tree-list {
    height: 100%;
    overflow: auto;
    border-top: 1px solid var(--color-border);
    .search-input {
      height: 42px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-border);
      padding: 0 0.5rem;

      .toggle-off {
        color: var(--color-button);

        &:hover {
          color: var(--color-button-hover);
        }
      }
      .toggle-on {
        color: var(--color-button-active);
        outline: none;
      }
      .toggle-off,
      .toggle-on {
        border: none;
        background: var(--color-button-background);
        border-radius: 0.25rem;
        padding: 0;
        flex: 0 0 auto;

        .toggle-content {
          display: inline-flex;
          align-items: center;
          border-radius: 0.25rem;
          padding: 0.25rem;
        }
      }
    }
    .trees {
      overflow-y: auto;
      height: calc(
        100% - 42px - 3px
      ); // add 3px as buffer for better scrollbar visibility
    }
  }
  .inspected-element {
    height: 100%;
    overflow: auto;
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    .title-row {
      height: 42px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: var(--font-size-monospace-large);
      border-bottom: 1px solid var(--color-border);
      padding: 0 0.5rem;

      .selected-element-name {
        display: flex;
        align-items: center;
        flex: 1;
        .key {
          flex: 0 1 auto;
          padding-left: 0.25rem;
          padding-right: 0.125rem;
          line-height: 1rem;
          border-top-left-radius: 0.125rem;
          border-bottom-left-radius: 0.125rem;
          display: inline-block;
          background-color: var(--color-component-badge-background);
          color: var(--color-text);
          font-family: var(--font-family-monospace);
          font-size: var(--font-size-monospace-small);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        .key-arrow {
          margin-right: -0.25rem;
          border: 0.5rem solid transparent;
          border-left: 0.5rem solid var(--color-component-badge-background);
        }
      }
    }

    .search-input-item {
      padding: 0.25rem;
      border-bottom: 1px solid var(--color-border);
      height: 20px;
    }

    .inspected-element-data {
      overflow-y: auto;
      height: calc(
        100% - 42px - (20px + 0.5rem) - 3px
      ); // add 3px as buffer for better scrollbar visibility, (20px + 0.5rem) is for the search attr input
      .header-row {
        display: flex;
        align-items: center;
        .header {
          display: flex;
          align-items: center;
          flex: 1 1;
          font-family: var(--font-family-sans);
        }
      }
      .attributes {
        padding: 0.25rem;
        border-top: 1px solid var(--color-border);

        &.dashed {
          border-top-style: dashed;
        }
      }
      .attributes:first-child {
        border-top: none;
      }
      .attributes {
        &.attr-search {
          input {
            flex: 1 1 100px;
            font-size: var(--font-size-sans-large);
            outline: none;
            border: none;
            background-color: var(--color-background);
            color: var(--color-text);
          }
        }
        .attr-list {
          .attr-item {
            display: flex;
            padding-left: 15px;
            padding-top: 1px;
            padding-bottom: 1px;
            &:hover {
              background-color: var(--color-background-hover);
              border-radius: 4px;
            }

            &:not(:first-child) {
              margin-top: 0.5rem;
            }

            .item-name {
              margin-right: 0.5rem;
              font-family: var(--font-family-monospace);
            }

            input,
            textarea, select {
              flex: 1 1;
              width: 100%;
              background: none;
              border: 1px solid transparent;
              color: var(--color-attribute-editable-value);
              border-radius: 0.125rem;
              font-family: var(--font-family-monospace);
              font-size: var(--font-size-monospace-normal);
              &:focus {
                background-color: var(--color-button-background-focus);
                outline: none;
              }
            }
            textarea {
              resize: vertical;
            }
          }
        }
      }
    }
  }
}

.element {
  color: var(--color-component-name);
  display: flex;
  align-items: center;
  line-height: var(--line-height-data);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  &:hover {
    background-color: var(--color-background-hover);
  }

  &.active {
    background-color: var(--color-background-hover);
  }

  &.selected {
    background-color: var(--color-background-selected);
    color: var(--color-text-selected);
    --color-component-name: var(--color-component-name-inverted);
    --color-text: var(--color-text-selected);
    --color-component-badge-background: var(
      --color-component-badge-background-inverted
    );
    --color-component-badge-count: var(--color-component-badge-count-inverted);
    --color-attribute-name: var(--color-attribute-name-inverted);
    --color-attribute-value: var(--color-attribute-value-inverted);
    --color-expand-collapse-toggle: var(--color-component-name-inverted);
  }

  .key-value {
    color: var(--color-attribute-value);
    user-select: text;
    max-width: 50%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
